---
import Section from "~/layouts/Section.astro";
import Layout from "~/layouts/Layout.astro";
import Publication from "~/widgets/Publication.astro";
import Design from "~/widgets/Design.astro";
---

<Layout title="About" id="about">
  <main>
    <div class="h-3"></div>
  </main>
  <Section title="@TriFullKim">
    <div class="text-lg self-center">
      <p>
        반갑습니다!! 현재 학부연구생으로 <u>인공지능을 연구</u> 하고 있으며,
        <strong> 서비스 출시(앱개발)에 관심 </strong>을 두고 공부 중 입니다.
        디자인에도 관심을 갖고 있으며, 동아리/연구실 <strong>로고</strong>를
        Adobe Illustrator와 같은 디자인 툴을 사용하여
        <strong>제작</strong>한 경험이 있습니다.
      </p>
    </div>
    <div class="flex flex-row flex-wrap justify-items-center gap-2">
      <a href="mailto:mail@trifull.kim" class="font-mono badge badge-neutral"
        >mail@trifull.kim</a
      >
      <div class="flex flex-row gap-1">
        <a href="https://www.pnu-cvsp.com/" class="font-mono badge badge-info"
          >CVSP Lab.</a
        >
        <a
          href="https://github.com/TriFullKim"
          class="font-mono badge badge-info">Github</a
        >
      </div>
    </div>
  </Section>
  <div class="h-3"></div>
  <Section title="Education">
    <ul class="list-disc px-8">
      <li>B.S. in Electrical Engineering , PKNU, Feb. 2021 – present.</li>
    </ul>
  </Section>
  <Section title="Publication">
    <Publication />
  </Section>
  <div class="h-3"></div>
  <Section title="Design">
    <Design />
  </Section>
  <div class="h-24"></div>
</Layout>
