---
import Card from "../layouts/MainpageCard.astro";
import Layout from "../layouts/Layout.astro";
import Publication from "../widgets/Publication.astro";
---

<Layout title="@trifullkim // Profile">
	<main>
		<div class="h-12"></div>
		<h1 class="md:max-w-[800px] mx-auto">
			<div
				class="flex max-sm:flex-col gap-6 p-6 rounded-xl shadow-2xl shadow-blue-950/50"
			>
				<img src="/tfk-w.svg" alt="white_logo" class="h-32" />
				<div class="text-lg self-center">
					<a
						href="https://github.com/TriFullKim"
						class="text-3xl font-extrabold underline underline-offset-3 decoration-sky-400 content-center hover:text-sky-500"
						>@TriFullKim</a
					>
					<p>
						반갑습니다!! 현재 학부연구생으로 <u>인공지능을 연구</u> 하고 있으며,
						<strong> 서비스 출시(앱개발)에 관심 </strong>을 두고 공부 중 입니다.
						디자인에도 관심을 갖고 있으며, 동아리/연구실 <strong>로고</strong>를
						Adobe Illustrator와 같은 디자인 툴을 사용하여
						<strong>제작</strong>한 경험이 있습니다.
					</p>
					<a href="mailto:mail@trifull.kim" class="font-mono badge badge-info"
						>mail@trifull.kim</a
					>
				</div>
			</div>
		</h1>
		<div class="h-3"></div>
		<Card title="Education">
			<ul class="list-disc px-8">
				<li>B.S. in Electrical Engineering , PKNU, Feb. 2021 – present.</li>
			</ul>
		</Card>
		<Card title="Publication">
			<Publication />
		</Card>
		<div class="h-3"></div>
		<Card title="Design">
			<ul class="flex flex-col gap-5 w-full pt-4">
				<li
					class="flex flex-col sm:flex-row gap-x-8 gap-y-5 sm:place-items-start items-center"
				>
					<img
						src="/EWG_white.png"
						alt="EWG_LOGO"
						class="w-56 object-scale-down"
					/>
					<div class="self-center">
						<h2 class="text-xl font-extrabold">EWG Logo Design</h2>
						<p>
							국립부경대학교 <a
								href="https://www.instagram.com/ewg.esports/"
								class="link decoration-sky-400 hover:text-sky-500"
								>esports 중앙동아리 EWG</a
							> 로고 제작
						</p>
					</div>
				</li>
				<div class="divider my-[-0.2rem]"></div>
				<li
					class="flex flex-col sm:flex-row gap-x-8 gap-y-5 sm:place-items-start items-center"
				>
					<img
						src="/CVSP-white@3x.png"
						alt="EWG_LOGO"
						class="w-56 object-scale-down"
					/>
					<div class="self-center">
						<h2 class="text-xl font-extrabold">CVSP Lab. Logo Design</h2>
						<p>
							부산대학교 <a
								href="https://www.pnu-cvsp.com/"
								class="link decoration-sky-400 hover:text-sky-500"
								>Computer Vision & Singal Processing Lab.</a
							> 로고 제작
						</p>
					</div>
				</li>
			</ul>
		</Card>
	</main>
	<div class="h-24"></div>
</Layout>
