---
import myLogo from "~/../public/tfk-w.svg";

import Image from "astro/components/Image.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="TriFullKim">
  <header class="w-full h-16 horizontal justify-between">
    <h1 class="pl-12">
      <a href="/" class="horizontal gap-2">
        <Image src={myLogo} alt={"my Logo"} height={50} />
        <span class:list={["p-2"]}>TriFullKim</span>
      </a>
    </h1>
    <div class="pr-12">
      <ul class="horizontal gap-5">
        <li><a href="">Topics</a></li>
        <li><a href="">About</a></li>
      </ul>
    </div>
  </header>
  <main>
    <section>HeroSection:RecentOrHighlight</section>
    <section>BlogPost</section>
  </main>
</Layout>

<style>
  .horizontal {
    @apply flex flex-row items-center;
  }

  header > h1 {
    font-size: 1.8rem;
  }
  header {
    background-color: #4d4d4d;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    font-family:
      Source Code Pro,
      "Consolas",
      "Courier New",
      Courier,
      monospace;
  }
</style>
