---
import { getCollection } from 'astro:content';
import Layout from "~/layouts/Layout.astro";

const allPosts = await getCollection('blog');
const allTags = [...new Set(allPosts.flatMap(post => post.data.tags))];
---

<Layout title="Topic @TriFullKim" id="topic">
  <main class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-6">Topics</h1>
    <div class="flex flex-wrap gap-4">
        {allTags.map(tag => (
            <a href={`/tags/${tag}`} class="card bg-base-200 shadow-xl hover:bg-base-300 transition-colors p-6">
                <h2 class="card-title">#{tag}</h2>
                <p>{allPosts.filter(p => p.data.tags.includes(tag)).length} posts</p>
            </a>
        ))}
    </div>
  </main>
</Layout>
