---
import moment from "moment";
import MarkdownCard from "~/components/MarkdownCard.astro";
import Layout from "~/layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../../database/post/*.md");
  return allPosts.map(post => {
    return {
      params: { postSlug: post.frontmatter.slug },
      props: { title: post.frontmatter.title, post: post },
    };
  });
}
const { postSlug } = Astro.params;
const { title, post } = Astro.props;
---

<Layout title={title + " @TriFullKim"} id="post">
  <MarkdownCard>
    <div>
      <h2>{title}</h2>

      <h3 class="flex flex-row place-items-center">
        <snap class="mx-2">
          {moment(post.frontmatter.생성일).format("MMM DD, YYYY")}
        </snap>
        {
          post.frontmatter.태그.map(tag => (
            // !!!: 나중에 hidden 지울 것
            <a href={tag} class="hidden badge badge-neutral mx-0.5">
              {tag}
            </a>
          ))
        }
      </h3>
    </div>
    <Fragment set:html={post.compiledContent()} />
  </MarkdownCard>
</Layout>
