---
import moment from "moment";
import MarkdownCard from "~/components/MarkdownCard.astro";
import Layout from "~/layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../../database/post/*.md");
  return allPosts.map(post => {
    return {
      params: { post: post.frontmatter.slug },
      props: { title: post.frontmatter.title, content: post },
    };
  });
}
const { post } = Astro.params;
const { title, content } = Astro.props;
---

<Layout title={title + " @TriFullKim"} id="post">
  <MarkdownCard>
    <div class="max-w-[800px] m-auto">
      <h2>{title}</h2>
      <h3 class="flex flex-row place-items-center justify-between">
        <div>
          {
            content.frontmatter.태그.map(tag => (
              // !!!: 나중에 hidden 지울 것
              <a href={tag} class="badge badge-neutral mx-0.5">
                {tag}
              </a>
            ))
          }
        </div>
        <snap class="mr-2">
          {moment(content.frontmatter.생성일).format("MMM DD, YYYY")}
        </snap>
      </h3>
      <div class="divider pt-4 mx-4"></div>
      <Fragment set:html={content.compiledContent()} />
    </div>
  </MarkdownCard>
</Layout>
