---
import PostCard from "~/components/PostCard.astro";
import Layout from "~/layouts/Layout.astro";
const allPosts = await Astro.glob("../../database/post/*.md");
---

<Layout title="Topic @TriFullKim" id="post">
  <main>
    <div class="post-space">
      {
        allPosts.map(post => (
          <PostCard
            slug={post.frontmatter.slug}
            title={post.frontmatter.title}
            createdTime={post.frontmatter.생성일}
            tags={post.frontmatter.태그}
          >
            <Fragment set:html={post.compiledContent()} />
          </PostCard>
        ))
      }
    </div>
  </main>
</Layout>
<style>
  .post-space {
    @apply grid md:grid-cols-2 grid-cols-1 gap-3;
    padding: 10px;
  }
</style>
