---
import moment from "moment";

interface Props {
  slug: string;
  title: string;
  createdTime: string;
  tags: Array<string>;
}

const { slug, title, createdTime, tags } = Astro.props;
---

<div class="post-elements">
  <a href={"post/" + slug}>
    <h2>{title}</h2>
  </a>
  <div class="date-display">{moment(createdTime).format("YYYY/MM/DD")}</div>
  <ul>
    {
      tags.map(tag => (
        <li class="badge">
          <a href={"post/" + tag}>{tag}</a>
        </li>
      ))
    }
  </ul>
</div>
<style>
  .post-elements > * > h2 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .post-elements > .date-display {
    @apply text-slate-400;
    font-size: 0.85rem;
  }
  .post-elements {
    @apply border p-2 rounded-lg;
  }
</style>
