---
import Navigation from "~/layouts/Navigation.astro";
import Footer from "./Footer.astro";
interface Props {
  title: string;
  id?: string;
}

const { title = "TriFullKim", id = undefined } = Astro.props;
---

<!doctype html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="trifullkim dev blog" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body id={id}>
    <main class="min-h-dvh max-w-[960px] m-auto px-5">
      <Navigation />
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: pretendard, system-ui, sans-serif;
  }
  #about {
    @apply bg-slate-900 outline outline-8 outline-slate-900 text-slate-300;
  }
  #topic {
    @apply bg-slate-900 outline outline-8  outline-slate-900 text-slate-300;
  }
  #main {
    @apply bg-slate-900 outline outline-8  outline-slate-900 text-slate-300;
  }
  #post {
    @apply bg-slate-900 outline outline-8  outline-slate-900 text-slate-300;
  }
  body {
    @apply bg-slate-900 outline outline-8  outline-slate-900 text-slate-300;
  }
</style>
