---
import { Image } from "astro:assets";
import logo from "~/../public/tfk-w.svg";

const { class: className } = Astro.props;
---

<nav class:list={["row", className]}>
  <div class="logo">
    <a href="/about"> <Image src={logo} alt={"tfk-logo"} /></a>
  </div>
  <ul class="row mr-2">
    <li class="content">
      <!-- <a href="/post"> -->
        <a href="/post">
        <span class="material-symbols-outlined sm-hidden"> sticky_note_2 </span>
        <span class="sm-visible">Post</span>
      </a>
    </li>
    <li class="content hidden">
      <a href="/topic">
        <span class="material-symbols-outlined sm-hidden"> tag </span>
        <span class="sm-visible">Topic</span>
      </a>
    </li>
    <li class="content">
      <a href="/about">
        <span class="material-symbols-outlined sm-hidden">
          account_circle
        </span>
        <span class="sm-visible">About</span>
      </a>
    </li>
  </ul>
</nav>
<style>
  nav {
    height: 5rem;
    max-width: 960px;
    margin: 0.5rem auto;
    background-color: rgba(15, 23, 42, 0.6);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .logo {
    height: 3rem;
    width: 3rem;
    margin: 0 1rem;
    align-self: center;
  }
  
  .content {
    padding: 0 1rem;
    align-content: center;
  }
  
  .content:hover {
    color: #fbbf24;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .hidden {
    display: none;
  }
  
  .sm-hidden {
    display: inline;
  }
  
  .sm-visible {
    display: none;
  }
  
  @media (min-width: 640px) {
    .sm-hidden {
      display: none;
    }
    
    .sm-visible {
      display: inline;
    }
  }
</style>
